.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}
.sidebar__header {
  padding-top: 1vw;
  padding-left: 15;
  padding-bottom: 0.42vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #393e46;
}
.sidebar__header-option {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 1vw !important;
  padding-left: 1vw !important;
  color: #eeeeee;
}
.sidebar__header-option:hover {
  background-color: #495464;
  cursor: pointer;
}
.sidebar__search {
  display: flex;
  background-color: #393e46;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 15;
  border-radius: 20px;
}

.sidebar__search-icon {
  padding: 5px;
}
.sidebar__search-text {
  background-color: #393e46;
  width: 20vw;
  border: none;
  color: #eeeeee;
}

.sidebar__search-text:focus {
  outline: none;
}
h1 {
  font-family: "Kufam", cursive;
  color: #eeeeee;
  margin-left: 15;
}
.sidebar__chatrooms {
  height: 100%;
  background-color: #222831;
}
